.internships{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5%;
}
.intern{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.5s;
    border: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 6px 6px 5px grey;
}
.intern p{
    font-size: large;
}
.intern:hover{
    border: 3px solid aqua;
}

#rane-madras-desc{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
